@import "tailwindcss";
@plugin "daisyui" {
  themes: bumblebee --default;
}

/* Leaflet styles */
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 1;
}

/* Safari backdrop-blur fallback */
@supports (-webkit-backdrop-filter: blur(1px)) {
  .backdrop-blur {
    -webkit-backdrop-filter: blur(8px);
  }
}
